.container {
  display: block;

  position: relative;
}
#mySlides {
  width: 50%;
  height: 50%;
  object-fit: cover;
  position: relative;
  
}
.active {
  display: block;
}

.slider-left , 
.slider-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(204, 197, 197);
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
 
}

.container > .slider-right {
  right: 50%;
  border-radius: 3px 0 0 3px;
}

